@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

.font-default {
    font-family: 'Open Sans', sans-serif;
}

.font-bright {
    color: aliceblue;
}

.text-center {
    text-align: center;
}

.bg-gray-100 {
    background-color: rgb(85, 85, 85);
}

.bg-gray-200 {
    background-color: rgb(75, 75, 75);
}

.bg-gray-300 {
    background-color: rgb(65, 65, 65);
}

.bg-gray-400 {
    background-color: rgb(55, 55, 55);
}

.bg-gray-500 {
    background-color: rgb(45, 45, 45);
}

.bg-gray-600 {
    background-color: rgb(35, 35, 35);
}

.bg-gray-700 {
    background-color: rgb(25, 25, 25);
}

.bg-gray-750 {
    background-color: rgb(20, 20, 20);
}

.bg-gray-800 {
    background-color: rgb(15, 15, 15);
}

.bg-gray-900 {
    background-color: rgb(5, 5, 5);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgb(35, 35, 35);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
}